img.post-image#cardImage(src= imageInput, alt="")
h2.post-title#postTitle
    a.post-title-link(href="")= title
span.post-symbol
    i.post-data-i.fas.fa-user
span.post-data= user
span.post-symbol
    i.post-data-i.fas.fa-clock
span.post-data= date
span.post-symbol
    i.post-data-i.fas.fa-comments
span.post-data= comment
span.post-symbol
    i.post-data-i.fas.fa-list-alt
span.post-data= category
p.post-text#postText Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,   